.slide-enter-active,
.slide-leave-active {
  transition: all 0.1s ease;
}
.slide-leave-to {
  transform: translateY(30px);
  opacity: 0;
}
.slide-enter {
  transform: translateY(-30px);
  opacity: 1;
}
